# Copy this to .env.local and fill in the private values.

FTP_HOST=accessibleaudio.co.za
FTP_IP=89.117.169.254
FTP_PORT=21
FTP_USERNAME=u428615841.accessibleaudio.co.za
FTP_PASSWORD=
FTP_REMOTE_PATH=public_html

WEBSITE_URL=http://accessibleaudio.co.za
WEBSITE_WWW_URL=http://www.accessibleaudio.co.za
